.youtube-red {
  color: #fff;
  background-color: #ff2100;
  border-color: #ff2100;
}
.steam-blue {
  color: #fff;
  background-color: #2700b5;
  border-color: #2700b5;
}
.kym-blue {
  color: #fff;
  background-color: #160068;
  border-color: #160068;
}
@keyframe hoverhideani{
  From: [opacity: 1.0;]
  To: [opqcity: 0.0;]
}
.hiddentillhover {
  animation(hoverhideani 1s linear 0s 1 reverse);
}
.hiddenuntillhover.hover {
  animation(hoverhideani 1s linear 0s 1);
}